[submodule "API_Gateway-folder"]
	path = API_Gateway-folder
	url = https://github.com/vijit-vishnoi/API_Gateway.git
[submodule "Auth_Service"]
	path = Auth_Service
	url = https://github.com/vijit-vishnoi/Auth_Service.git
[submodule "Reminder_Service"]
	path = Reminder_Service
	url = https://github.com/vijit-vishnoi/ReminderService.git
[submodule "AirTicketBookingService"]
	path = AirTicketBookingService
	url = https://github.com/vijit-vishnoi/AirTicketBookingService.git
